 <div class = "body">

 <div class= "item-text">
 商品画像
 </div>

 <div class= "item-text">
 置き場: A 棚
 </div>
 
 <div class="item-img-content">
      <%= image_tag @image ,class:"item-main-img" %>
 </div>     

 <h1 class = "confirm-point">
 確認ポイント
 </h1>

 <div class="item-img-content">
      <%= image_tag @confirm_point ,class:"item-main-img" %>
 </div>     

 </div>